{% extends "layout.html" %}

{% block title %}
Finance
{% endblock %}

{% block main %}
<h1>C$50 Finance</h1>

<h4 class="m-4"> Welcome to my CS50 Finance Web App</h4>
<p> 
    This is a website in which users can "buy" and "sell" stocks.
</p>
<p> 
    Quote real-time stock prices, 'buy' and 'sell' those stocks with the 'money' you see in your account, and see how your portfolio performs.
</p>

<h3 class="m-2"> Register for an account and try it out. </h3>
<p class="small text-center text-muted"> 
    Please make note of your username and password to log back in. Passwords are not stored in text so I cannot recover it for you. 
</p>

{% endblock %}